{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block content %}

<br><br><br>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}






<!------ Include the above in your HEAD tag ---------->





<div class="widget-no-style">
                                <div class="newsletter-widget text-center align-self-center">
                                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                                    <h3>Forgot Password?</h3>
                                    <p>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it</p>
                                    <div class="panel-body">

                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                        {% csrf_token %}
                      {{ form|crispy }}
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                      </div>

                      <input type="hidden" class="hide" name="token" id="token" value="">
                    </form>

                  </div>
                                </div><!-- end newsletter -->
                            </div>




{% endblock %}
