{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}







<div class="widget-no-style">
                                <div class="newsletter-widget text-center align-self-center">
                                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                                    <h3>Forgot Password?</h3>
                                    <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
                                    <div class="panel-body">
                                    </div>
                                </div><!-- end newsletter -->
                            </div>





{% endblock %}
