


{% load static %}
{% load ratings %}
<!DOCTYPE html>
<html lang="en">

    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">

<link rel="profile" href="https://gmpg.org/xfn/11">

<link rel="shortcut icon" href="/favicon.png">



<link rel="canonical" href="/">
<link rel="alternate" hreflang="en-us" href="/">




        <link rel="stylesheet" type="text/css" href="https://vidcloud9.com/video/css/font-awesome.min.css??v=7.5">
        <link rel="stylesheet" type="text/css" href="https://vidcloud9.com/video/css/style.css??v=7.5">

    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="https://vidcloud9.com/video/js/jquery.js"></script>




    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Metas -->
        <title>Axon Sites</title>


    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">





    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/animate.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/mark.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/responsive.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">



    <!-- Bootstrap CSS -->


    <!-- Bootstrap CSS -->





</head>



<body>



    <div id="wrapper">
        <header class="market-header header">
            <div class="container-fluid">
                <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            <a class="navbar-brand mr-4" href="{% url 'blog-home' %}"><p style="font: normal 36px 'Cookie', cursive;margin:0px;">Axon <span style="color:#5383d3;">Blog</span></p></a>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                             <a class="nav-item nav-link" href="{% url 'blog-home' %}"><i class="fa fa-fw fa-home" style="font-size:18px;"></i> Home</a>
                          </li>
                          <li class="nav-item">
                                    <a class="nav-item nav-link" href="{% url 'movies' %}"><i class="fa fa-film" style="font-size:18px;"></i> Movies</a>
                          </li>
                      <li class="nav-item">
                                    <a class="nav-item nav-link" href="{% url 'series' %}"><i class="fa fa-play-circle" style="font-size:18px;"></i> Series</a>
                          </li>

                                               <!-- Dropdown -->
                      <li class="nav-item dropdown">

                          {% if request.path == '/series/action/' %}
                          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">Genres</a>
                          {% endif %}
                          {% if request.path == '/series/sifi/' %}
                          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">si-fi</a>
                          {% endif %}
                          {% if request.path == '/series/thriller/' %}
                          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">thriller</a>
                          {% endif %}
                          {% if request.path == '/series/adventure/' %}
                          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">adventure</a>
                          {% endif %}
                          {% if request.path == '/series/classic/' %}
                          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">classic</a>
                          {% endif %}
                          {% if request.path == '/series/Romance/' %}
                          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">Romance</a>
                          {% endif %}
                          {% if request.path == '/series/animation/' %}
                          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">animation</a>
                          {% endif %}
                          {% if request.path == '/series/drama/' %}
                          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">drama</a>
                          {% endif %}
                          {% if request.path == '/series/crime/' %}
                          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">crime</a>
                          {% endif %}
                          {% if request.path == '/series/mystery/' %}
                          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">mystery</a>
                          {% endif %}
                          {% if request.path == '/series/family/' %}
                          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">family</a>
                          {% endif %}
                          {% if request.path == '/series/documentary/' %}
                          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">documentary</a>
                          {% endif %}
                          {% if request.path == '/series/Fantasy/' %}
                          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">Fantasy</a>

                          {% endif %}
                          {% if request.path == '/series/comedy/' %}
                          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">Comedy</a>

                          {% endif %}





                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="{% url 'gean-series-action' %}">action</a>
                          <a class="dropdown-item" href="{% url 'gean-series-sifi' %}">si-fi</a>
                          <a class="dropdown-item" href="{% url 'gean-series-thriller' %}">thriller</a>
                            <a class="dropdown-item" href="{% url 'gean-series-adventure' %}">adventure</a>
                          <a class="dropdown-item" href="{% url 'gean-series-classic' %}">classic</a>
                          <a class="dropdown-item" href="{% url 'gean-series-romance' %}">Romance</a>
                              <a class="dropdown-item" href="{% url 'gean-series-animation' %}">animation</a>
                          <a class="dropdown-item" href="{% url 'gean-series-drama' %}">drama</a>
                          <a class="dropdown-item" href="{% url 'gean-series-crime' %}">crime</a>
                              <a class="dropdown-item" href="{% url 'gean-series-mystery' %}">mystery</a>
                          <a class="dropdown-item" href="{% url 'gean-series-family' %}">family</a>
                          <a class="dropdown-item" href="{% url 'gean-series-documentary' %}">documentary</a>
                            <a class="dropdown-item" href="{% url 'gean-series-fantacy' %}">Fantasy</a>
                                                       <a class="dropdown-item" href="{% url 'gean-comedy' %}">Comedy</a>

                        </div>
                      </li>



                        </ul>
                        <form class="form-inline" method="get" action="/search">
                            <input list="oned" class="form-control mr-sm-2" type="text" placeholder="Search" name="search" id="search">
                             <datalist id="oned">

                            {% for result in move %}
                                  <option>
<li>
    <img src="{% if result.image %} {{ result.image.url }} {% else %} {{ result.image_link }} {% endif %}">

                                {{result.name}}
</li></option>
                                {% endfor %}

                                </datalist>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>

                          <div class="navbar-nav">
                {% if user.is_authenticated %}

                 <a class="nav-item nav-link" href="{% url 'profile' %}"><i class="fas fa-user-alt" style="font-size:18px;"></i> {{ user.username }}</a>
                 <a class="nav-item nav-link" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt" style="font-size:18px;"></i> Logout</a>
                {% else %}
                 <a class="nav-item nav-link" href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt" ></i> Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}"><i class="fas fa-user-plus" style="font-size:14px;"></i> Register</a>
                {% endif %}
             </div>

                    </div>
                </nav>
            </div><!-- end container-fluid -->



        </header><!-- end market-header -->
<br>
<br>
<br>
<br>

        <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
      </div>
    </main>



    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/tether.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/animate.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>






<div class="main-content">

<div class="main-inner">
    <div class="section-header">
        <h3 class="widget-title" style="color:white;" ><i class="fa fa-play"></i>
        Series-
         {% if request.path == '/series/action/' %}
                          Action
                          {% endif %}
                            {% if request.path == '/series/sifi/' %}
                          si-fi
                          {% endif %}
                            {% if request.path == '/series/thriller/' %}
                          thriller
                          {% endif %}
                            {% if request.path == '/series/adventure/' %}
                        adventure
                          {% endif %}
                            {% if request.path == '/series/classic/' %}
                          classic
                          {% endif %}
                            {% if request.path == '/series/Romance/' %}
                          Romance
                          {% endif %}
                            {% if request.path == '/series/animation/' %}
                         animation
                          {% endif %}
                            {% if request.path == '/series/drama/' %}
                          drama
                          {% endif %}
                            {% if request.path == '/series/crime/' %}
                          crime
                          {% endif %}
                            {% if request.path == '/series/mystery/' %}
                          mystery
                          {% endif %}
                            {% if request.path == '/series/family/' %}
                          family
                          {% endif %}
                            {% if request.path == '/series/documentary/' %}
                          documentary
                          {% endif %}
                            {% if request.path == '/series/Fantasy/' %}
                          Fantasy
                          {% endif %}
            {% if request.path == '/series/comedy/' %}
                          Comedy
                          {% endif %}






        </h3>
    </div>
    <div class="clearfix"></div>
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1404913114846">
        <div class="vc_col-sm-12 wpb_column column_container">
            <div class="wpb_wrapper">
                    <div class="video_player followed  default">
                        <!-- for -->
                        <ul class="listing items">
{% for movie in movies %}

                <li class="video-block">
            <a href="{% url 'movies-detail' movie.name movie.id %}">

               	<div class="img">
                        <div class="picture">
                            <img src="{% if movie.image %} {{ movie.image.url }} {% else %} {{ movie.image_link }} {% endif %}" alt="{{ movie.name }}">{% if movie.series %}&nbsp;<span class="badge">TV</span>{% endif %}
                        </div>
                    <style>


.picture .badge {
  position: absolute;
  top: 4px;
  left: 4px;
  padding: 10px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}
                    </style>
                        <div class="hover_watch"><div class="watch"></div></div>
                </div>
                <div class="name" style=" color:white ">
                       {{ movie.name }}<br>
Rating : {{ movie.imdb }}
                </div>
                <div class="meta">
                    <span class="date">{{ movie.date_released|date:"F d, Y " }}</span>
			     </div>
            </a>
        </li>



                                  {% endfor %}




        <div class="clr"></div>



                        </ul>
                        <!-- end for -->
                    </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
</div>

                </div>
    </div>
    <script type="text/javascript" src="https://vidcloud9.com/video/js/hamfunction.js?v=7.5"></script>
    <script type="text/javascript" src="https://vidcloud9.com/video/js/combo.js?v=7.5"></script>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-101166009-15"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-101166009-15');
</script>
</body>

</html>



<style>

body {
  background-image: url("/media/body-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center; }

</style>
